apiVersion: v1
kind: Service

metadata:
  name: xing-appserver-service

spec:
  selector:
    app: xing-myapp
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
  sessionAffinity: None
status:
  loadBalancer: {}  